**/__pycache__
**/datasets
**/dataset
**/dataset_pre
**/output
**/RobustVideoMatting
**/gmflow
**/pytorch3d
**/smpl_models
**/third_libs
**/data
**/temp
**/logs
**/mouth
**/build/*
**/models
**/dist/*
**/videos
**/*.wav
**/*.mp4
**/*.mp3
**/*.ckpt
**/*.pkl
**/*.pth
**/*.png
**/*.jpg
**/*.bin
**/*.json
**/*.mov
**/*.pt
**/*.zip
**/*.txt
**/*.tar.gz
**/env
**/code_local
**/_ext
